File.stream!("./lib/demo_web/templates/fiat_pool/show.html.eex",[:read, :utf8]) \
|> Enum.map(&String.downcase(&1)) \
|> File.write("./lib/demo_web/templates/fiat_pool/", file, "show.html.eex")

<h1>Show Fiat pool</h1>
<table>
  <thead>
    <tr>
      <th> AED </th>
      <th> AFN </th>
      <th> ALL </th>
      <th> AMD </th>
      <th> AOA </th>
      <th> ARS </th>
      <th> AUD </th>
      <th> AZN </th>
      <th> BAM </th>
      <th> BBD </th>
      <th> BDT </th>
      <th> BGN </th>
      <th> BHD </th>
      <th> BIF </th>
      <th> BND </th>
      <th> BOB </th>
      <th> BRL </th>
      <th> BSD </th>
      <th> BTN </th>
      <th> BWP </th>
      <th> BYN </th>
      <th> BZD </th>
      <th> CAD </th>
      <th> CDF </th>
      <th> CHF </th>
      <th> CHF </th>
      <th> CLP </th>
      <th> CNY </th>
      <th> COP </th>
      <th> CRC </th>
      <th> CUP </th>
      <th> CVE </th>
      <th> CZK </th>
      <th> DJF </th>
      <th> DKK </th>
      <th> DOP </th>
      <th> DZD </th>
      <th> EGP </th>
      <th> ERN </th>
      <th> ETB </th>
      <th> EUR </th>
      <th> FJD </th>
      <th> GBP </th>
      <th> GEL </th>
      <th> GHS </th>
      <th> GMD </th>
      <th> GNF </th>
      <th> GTQ </th>
      <th> GYD </th>
      <th> HNL </th>
      <th> HRK </th>
      <th> HTG </th>
      <th> HUF </th>
      <th> IDR </th>
      <th> ILS </th>
      <th> INR </th>
      <th> IQD </th>
      <th> IRR </th>
      <th> ISK </th>
      <th> JMD </th>
      <th> JOD </th>
      <th> JPY </th>
      <th> KES </th>
      <th> KGS </th>
      <th> KHR </th>
      <th> KMF </th>
      <th> KPW </th>
      <th> KRW </th>
      <th> KWD </th>
      <th> KZT </th>
      <th> LAK </th>
      <th> LBP </th>
      <th> LKR </th>
      <th> LRD </th>
      <th> LSL </th>
      <th> LYD </th>
      <th> MAD </th>
      <th> MDL </th>
      <th> MGA </th>
      <th> MKD </th>
      <th> MMK </th>
      <th> MNT </th>
      <th> MRO </th>
      <th> MUR </th>
      <th> MVR </th>
      <th> MWK </th>
      <th> MXN </th>
      <th> MYR </th>
      <th> MZN </th>
      <th> NAD </th>
      <th> NGN </th>
      <th> NIO </th>
      <th> NOK </th>
      <th> NPR </th>
      <th> NZD </th>
      <th> OMR </th>
      <th> PAB </th>
      <th> PEN </th>
      <th> PGK </th>
      <th> PHP </th>
      <th> PKR </th>
      <th> PLN </th>
      <th> PYG </th>
      <th> QAR </th>
      <th> RON </th>
      <th> RSD </th>
      <th> RUB </th>
      <th> RWF </th>
      <th> SAR </th>
      <th> SBD </th>
      <th> SCR </th>
      <th> SDG </th>
      <th> SEK </th>
      <th> SGD </th>
      <th> SLL </th>
      <th> SOS </th>
      <th> SRD </th>
      <th> SSP </th>
      <th> STD </th>
      <th> SYP </th>
      <th> SZL </th>
      <th> THB </th>
      <th> TJS </th>
      <th> TMT </th>
      <th> TND </th>
      <th> TOP </th>
      <th> TRY </th>
      <th> TTD </th>
      <th> TWD </th>
      <th> TZS </th>
      <th> UAH </th>
      <th> UGX </th>
      <th> USD </th>
      <th> UYU </th>
      <th> UZS </th>
      <th> VEF </th>
      <th> VND </th>
      <th> VUV </th>
      <th> WST </th>
      <th> XAF </th>
      <th> XCD </th>
      <th> XOF </th>
      <th> YER </th>
      <th> ZAR </th>
      <th> ZMW </th>
    </tr>
  </thead>
  <tbody>
<%= for fiat_pool <- @fiat_pools do %>
    <tr>
      <td><%= fiat_pool.aed %></td> 
      <td><%= fiat_pool.afn %></td> 
      <td><%= fiat_pool.all %></td> 
      <td><%= fiat_pool.amd %></td> 
      <td><%= fiat_pool.aoa %></td> 
      <td><%= fiat_pool.ars %></td> 
      <td><%= fiat_pool.aud %></td> 
      <td><%= fiat_pool.azn %></td> 
      <td><%= fiat_pool.bam %></td> 
      <td><%= fiat_pool.bbd %></td> 
      <td><%= fiat_pool.bdt %></td> 
      <td><%= fiat_pool.bgn %></td> 
      <td><%= fiat_pool.bhd %></td> 
      <td><%= fiat_pool.bif %></td> 
      <td><%= fiat_pool.bnd %></td> 
      <td><%= fiat_pool.bob %></td> 
      <td><%= fiat_pool.brl %></td> 
      <td><%= fiat_pool.bsd %></td> 
      <td><%= fiat_pool.btn %></td> 
      <td><%= fiat_pool.bwp %></td> 
      <td><%= fiat_pool.byn %></td> 
      <td><%= fiat_pool.bzd %></td> 
      <td><%= fiat_pool.cad %></td> 
      <td><%= fiat_pool.cdf %></td> 
      <td><%= fiat_pool.chf %></td> 
      <td><%= fiat_pool.chf %></td> 
      <td><%= fiat_pool.clp %></td> 
      <td><%= fiat_pool.cny %></td> 
      <td><%= fiat_pool.cop %></td> 
      <td><%= fiat_pool.crc %></td> 
      <td><%= fiat_pool.cup %></td> 
      <td><%= fiat_pool.cve %></td> 
      <td><%= fiat_pool.czk %></td> 
      <td><%= fiat_pool.djf %></td> 
      <td><%= fiat_pool.dkk %></td> 
      <td><%= fiat_pool.dop %></td> 
      <td><%= fiat_pool.dzd %></td> 
      <td><%= fiat_pool.egp %></td> 
      <td><%= fiat_pool.ern %></td> 
      <td><%= fiat_pool.etb %></td> 
      <td><%= fiat_pool.eur %></td> 
      <td><%= fiat_pool.fjd %></td> 
      <td><%= fiat_pool.gbp %></td> 
      <td><%= fiat_pool.gel %></td> 
      <td><%= fiat_pool.ghs %></td> 
      <td><%= fiat_pool.gmd %></td> 
      <td><%= fiat_pool.gnf %></td> 
      <td><%= fiat_pool.gtq %></td> 
      <td><%= fiat_pool.gyd %></td> 
      <td><%= fiat_pool.hnl %></td> 
      <td><%= fiat_pool.hrk %></td> 
      <td><%= fiat_pool.htg %></td> 
      <td><%= fiat_pool.huf %></td> 
      <td><%= fiat_pool.idr %></td> 
      <td><%= fiat_pool.ils %></td> 
      <td><%= fiat_pool.inr %></td> 
      <td><%= fiat_pool.iqd %></td> 
      <td><%= fiat_pool.irr %></td> 
      <td><%= fiat_pool.isk %></td> 
      <td><%= fiat_pool.jmd %></td> 
      <td><%= fiat_pool.jod %></td> 
      <td><%= fiat_pool.jpy %></td> 
      <td><%= fiat_pool.kes %></td> 
      <td><%= fiat_pool.kgs %></td> 
      <td><%= fiat_pool.khr %></td> 
      <td><%= fiat_pool.kmf %></td> 
      <td><%= fiat_pool.kpw %></td> 
      <td><%= fiat_pool.krw %></td> 
      <td><%= fiat_pool.kwd %></td> 
      <td><%= fiat_pool.kzt %></td> 
      <td><%= fiat_pool.lak %></td> 
      <td><%= fiat_pool.lbp %></td> 
      <td><%= fiat_pool.lkr %></td> 
      <td><%= fiat_pool.lrd %></td> 
      <td><%= fiat_pool.lsl %></td> 
      <td><%= fiat_pool.lyd %></td> 
      <td><%= fiat_pool.mad %></td> 
      <td><%= fiat_pool.mdl %></td> 
      <td><%= fiat_pool.mga %></td> 
      <td><%= fiat_pool.mkd %></td> 
      <td><%= fiat_pool.mmk %></td> 
      <td><%= fiat_pool.mnt %></td> 
      <td><%= fiat_pool.mro %></td> 
      <td><%= fiat_pool.mur %></td> 
      <td><%= fiat_pool.mvr %></td> 
      <td><%= fiat_pool.mwk %></td> 
      <td><%= fiat_pool.mxn %></td> 
      <td><%= fiat_pool.myr %></td> 
      <td><%= fiat_pool.mzn %></td> 
      <td><%= fiat_pool.nad %></td> 
      <td><%= fiat_pool.ngn %></td> 
      <td><%= fiat_pool.nio %></td> 
      <td><%= fiat_pool.nok %></td> 
      <td><%= fiat_pool.npr %></td> 
      <td><%= fiat_pool.nzd %></td> 
      <td><%= fiat_pool.omr %></td> 
      <td><%= fiat_pool.pab %></td> 
      <td><%= fiat_pool.pen %></td> 
      <td><%= fiat_pool.pgk %></td> 
      <td><%= fiat_pool.php %></td> 
      <td><%= fiat_pool.pkr %></td> 
      <td><%= fiat_pool.pln %></td> 
      <td><%= fiat_pool.pyg %></td> 
      <td><%= fiat_pool.qar %></td> 
      <td><%= fiat_pool.ron %></td> 
      <td><%= fiat_pool.rsd %></td> 
      <td><%= fiat_pool.rub %></td> 
      <td><%= fiat_pool.rwf %></td> 
      <td><%= fiat_pool.sar %></td> 
      <td><%= fiat_pool.sbd %></td> 
      <td><%= fiat_pool.scr %></td> 
      <td><%= fiat_pool.sdg %></td> 
      <td><%= fiat_pool.sek %></td> 
      <td><%= fiat_pool.sgd %></td> 
      <td><%= fiat_pool.sll %></td> 
      <td><%= fiat_pool.sos %></td> 
      <td><%= fiat_pool.srd %></td> 
      <td><%= fiat_pool.ssp %></td> 
      <td><%= fiat_pool.std %></td> 
      <td><%= fiat_pool.syp %></td> 
      <td><%= fiat_pool.szl %></td> 
      <td><%= fiat_pool.thb %></td> 
      <td><%= fiat_pool.tjs %></td> 
      <td><%= fiat_pool.tmt %></td> 
      <td><%= fiat_pool.tnd %></td> 
      <td><%= fiat_pool.top %></td> 
      <td><%= fiat_pool.try %></td> 
      <td><%= fiat_pool.ttd %></td> 
      <td><%= fiat_pool.twd %></td> 
      <td><%= fiat_pool.tzs %></td> 
      <td><%= fiat_pool.uah %></td> 
      <td><%= fiat_pool.ugx %></td> 
      <td><%= fiat_pool.usd %></td> 
      <td><%= fiat_pool.uyu %></td> 
      <td><%= fiat_pool.uzs %></td> 
      <td><%= fiat_pool.vef %></td> 
      <td><%= fiat_pool.vnd %></td> 
      <td><%= fiat_pool.vuv %></td> 
      <td><%= fiat_pool.wst %></td> 
      <td><%= fiat_pool.xaf %></td> 
      <td><%= fiat_pool.xcd %></td> 
      <td><%= fiat_pool.xof %></td> 
      <td><%= fiat_pool.yer %></td> 
      <td><%= fiat_pool.zar %></td> 
      <td><%= fiat_pool.zmw %></td>
      <th>
        <span><%= link "Show", to: Routes.fiat_pool_path(@conn, :show, fiat_pool) %></span>
      </th>
    </tr>
<% end %>
  </tbody>
</table>
  

<span><%= link "Edit", to: Routes.fiat_pool_path(@conn, :edit, @fiat_pool) %></span>
<span><%= link "Back", to: Routes.fiat_pool_path(@conn, :index) %></span>
