<h4>Edit Financial Report</h4>

<%= render "form.html", Map.put(assigns, :action, Routes.financial_report_path(@conn, :update, @fr)) %>

<span><%= link "Back", to: Routes.financial_report_path(@conn, :index) %></span>
