<h4>New Income Statement</h4>

<%= render "form.html", Map.put(assigns, :action, Routes.financial_report_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.financial_report_path(@conn, :index) %></span>
