<table>
  <thead>
    <tr>
      <th>Seller</th>
      <th>Amount</th>
      <th>Archived?</th>
    </tr>
  </thead>
  <tbody>
<%= for transaction <- @transactions do %>
    <tr> 
      <td><%= transaction.output_name %></td>
      <td><%= transaction.t1_amount %></td>
      <td><%= transaction.archived? %></td>
    </tr>
      <td>
        <span><%= link "Show", to: Routes.transaction_path(@conn, :show, transaction) %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

