<table>
  <thead>
    <tr>
      <th>Input</th>
      <th>Output</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
<%= for transaction <- @transactions do %>
    <tr> 
      <td><%= transaction.abc_input_name %></td>
      <td><%= transaction.abc_output_name %></td>
      <td><%= transaction.abc_amount %></td>
      <td>
        <span><%= link "Show", to: Routes.transaction_path(@conn, :show, transaction) %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

