<h3>Show Transaction</h3>

<ul>

</ul>

<span><%= link "Edit", to: Routes.transaction_path(@conn, :edit, @transaction) %></span>
<span><%= link "Back", to: Routes.transaction_path(@conn, :index) %></span>
