<h4>Show Nation</h4>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @nation.name %>
  </li>

  <li>
    <strong>ID:</strong>
    <%= @nation.id %>
  </li>

  <li>
    <strong>Constitution Signature:</strong>
    <%= @nation.constitution_signature %>
  </li>
</ul>

<span><%= link "Edit", to: Routes.nation_path(@conn, :edit, @nation) %></span>
</br>
<span><%= link "Back", to: Routes.nation_path(@conn, :index) %></span>
