<h4><%= @state_supul.name %></h4>
 
<ul>
  <li>
    <strong>Type:</strong>
    <%= @supul.type %>
  </li>

  <li>
    <strong>nation_name:</strong>
    <%= @state_supul.nation_name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.state_supul_path(@conn, :edit, @state_supul) %></span>
<span><%= link "Back", to: Routes.state_supul_path(@conn, :index) %></span>
