<table>
  <%= for entity <- @entities do %>
    <tr>
      <td><%= render "entity.html", entity: entity %></td>
      <td><%= link "View", to: Routes.entity_path(@conn, :show, entity.id) %></td>
    </tr>
  <% end %>
  <span><%= link "New Entity", to: Routes.entity_path(@conn, :new) %></span>

</table>

 