<h4>Edit Equity Statement</h4>

<%= render "form.html", Map.put(assigns, :action, Routes.equity_statement_path(@conn, :update, @equity_statement)) %>

<span><%= link "Back", to: Routes.equity_statement_path(@conn, :index) %></span>
