<h3>Edit Equity Statement</h3>

<%= render "form.html", Map.put(assigns, :action, Routes.equity_statement_path(@conn, :update, @es)) %>

<span><%= link "Back", to: Routes.equity_statement_path(@conn, :index) %></span>
