<h1>New Balance Sheet</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.balance_sheet_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.balance_sheet_path(@conn, :index) %></span>
