<h4>Listing Groups</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @group.title %></td>
      <td><%= @group.type %></td>

      <td>
        <span><%= link "Show", to: Routes.group_path(@conn, :show, @group) %></span>
      </td>
    </tr>
  </tbody>
</table>

<span><%= link "New Group", to: Routes.group_path(@conn, :new) %></span>
