<h1>Show Account book</h1>

<ul>

  <li>
    <strong>Grain:</strong>
    <%= @account_book.grain %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.account_book_path(@conn, :edit, @account_book) %></span>
<span><%= link "Back", to: Routes.account_book_path(@conn, :index) %></span>
