<h4>Edit Constitution</h4>

<%= render "form.html", Map.put(assigns, :action, Routes.constitution_path(@conn, :update, @constitution)) %>

<span><%= link "Back", to: Routes.constitution_path(@conn, :index) %></span>
