<h4>Show Constitution</h4>

<ul>

  <li>
    <strong>nationality:</strong>
    <%= @constitution.nationality %>
  </li>

  <li>
    <strong>content_hash:</strong>
    <%= @constitution.content_hash %>
  </li>

  <li>
    <strong>empowered_on:</strong>
    <%= @constitution.empowered_on %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.constitution_path(@conn, :edit, @constitution) %></span>
<span><%= link "Back", to: Routes.constitution_path(@conn, :index) %></span>
