<h1>Edit Money pool</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.money_pool_path(@conn, :update, @money_pool)) %>

<span><%= link "Back", to: Routes.money_pool_path(@conn, :index) %></span>
