<%= form_for @conn, Routes.item_path(@conn, :index), [method: :get, class: "pull-right"], fn f -> %>
      <%= search_input f, :query %>
      <%= submit "Search" %>
    <% end %>

<table>
  <thead>
    <tr>
      <th>T1 Pool</th>
    </tr>
  </thead>
  <tbody>
<%= for t1_pool <- @t1_pools do %>
    <tr>
      <td><%= t1_pool.name %></td>
      <td>
        <span><%= link "Show", to: Routes.t1_pool_path(@conn, :show, t1_pool) %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

