<h4>Item Detail</h4>
<b>name</b> (<%= @item.name %>) </br>
<b>price</b> (<%= @item.price %>) </br>
<b>product_id</b> (<%= @item.product_id %>) </br>
<b>document</b> (<%= @item.document %>) </br>
<b>document_hash</b> (<%= @item.document_hash %>) </br>
 </br>

<span><%= link "Edit", to: Routes.item_path(@conn, :edit, @item) %></span>
<span><%= link "Back", to: Routes.item_path(@conn, :index) %></span>
