<h4>Edit Cash Flow Statement</h4>

<%= render "form.html", Map.put(assigns, :action, Routes.cf_statement_path(@conn, :update, @cf)) %>

<span><%= link "Back", to: Routes.cf_statement_path(@conn, :index) %></span>
