<h4>New Cash Flow Statement</h4>

<%= render "form.html", Map.put(assigns, :action, Routes.cf_statement_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.cf_statement_path(@conn, :index) %></span>
