<table >
  <thead> 
  <tr> 
    <th>Title</th>
    <th>Content</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>Name</td>
      <td><%= @product.name %></td>
    </tr>
    <tr>
      <td>Price</td>
      <td><%= @product.price %></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><%= @product.description %></td>
    </tr>
  </tbody>
<span><%= link "Edit", to: Routes.product_path(@conn, :edit, @product) %></span>
</table>



