<h1>Edit Withdrawal</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.withdrawal_path(@conn, :update, @withdrawal)) %>

<span><%= link "Back", to: Routes.withdrawal_path(@conn, :index) %></span>
